.Pokecard {
    border: 1px solid white !important;
    border-radius: 10px;
    background-color: rgb(65, 58, 58);
    padding: 1rem;
    margin: 1rem;
    text-align: center;
}

.Pokecard:hover {
    background-color: rgb(75, 73, 73);
}