.Pokegame,
.Pokegame-cards {
    display: flex;
    flex-direction: Column;
    justify-content: center;
}

.Pokegame-power {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

.Pokegame-cards {
    flex-direction: row;
}

.class-winner {
    color: green;
}

.class-loser {
    color: red;
}