.Pokedex {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

.Pokedex-title {
    text-align: center;
}

.Pokedex-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}